* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background-container {
  content: "";
  z-index: -1000;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  width: 70vw;
  top: 0;
  bottom: 0;
  height: 100%;
  background: #993365;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 95%;
  height: 10rem;
  margin: 0 auto;
}
.title {
  font-size: 2.8rem;
  color: #66cdcc;
  text-shadow: -0.5rem -0.3rem #7642be;
  position: relative;
  z-index: 1;
  font-size: 7rem;
  color: #66cdcc;
  text-transform: uppercase;
  font-family: "Hobo BT", sans-serif;
  text-shadow: -0.5rem -0.3rem #7642be;
}
.title {
  margin-bottom: 0;
  position: relative;
  z-index: 1;
  font-size: 7rem;
  color: #66cdcc;
  text-transform: uppercase;
  font-family: "Hobo BT", sans-serif;
  text-shadow: -0.5rem -0.3rem #7642be;
}

.second {
  background-color: #f5999a;
  top: 42%;
  position: absolute;
  width: 90%;
  height: 26%;
  z-index: 1;
}
.third {
  background-color: #ee8244;
  top: 50%;
  position: absolute;
  width: 80%;
  left: 9%;
  height: 70%;
  z-index: 0;
}
.subtitle {
  margin-bottom: 0;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 600;
  color: #993365;
  text-align: center;
  margin-top: 3.25rem;
  font-size: larger;
  font-size: 2rem;
}

@media screen and (max-width: 1000px) {
  .main-container {
    min-width: 350px;
    width: 95vw;
    height: 5rem;
  }
}
@media screen and (max-width: 1000px) {
  .second {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .third {
    width: 98%;
    left: 1%;
    height: 75%;
  }
}
@media screen and (max-width: 1000px) {
  .title {
    font-size: 2.8rem;
    color: #66cdcc;
    text-shadow: -0.5rem -0.3rem #7642be;
  }
}
@media screen and (max-width: 1000px) {
  .subtitle {
    margin-top: 1.55rem;
    font-size: larger;
    font-size: 1.35rem;
  }
}
@media screen and (max-width: 1000px) {
  .background-container {
    width: 85vw;
  }
}

.info {
  /* height: 100vh; */
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 60vw;
  margin: 0 auto;
  margin-top: 5rem;
  color: #fff;
}
@media screen and (min-width: 1000px) {
  .info {
    display: none;
  }
  .section-title-first {
    margin-top: 5rem !important;
  }
}
p {
  margin-bottom: 1rem;
}
@media screen and (max-width: 1000px) {
  .info {
    width: 75vw;
    margin-top: 3rem;
  }
}
@media screen and (max-width: 1000px) {
  p {
    font-size: 0.875rem;
    margin-bottom: 1rem;
  }
}

.section-title {
  width: 25%;
  color: #000;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  position: relative;
  text-transform: uppercase;
  margin-left: 20%;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.section-title h3 {
  font-size: 1.875rem;
  /* margin: 0 !important; */
  /* padding: 0 !important; */
  padding-top: 10px !important;
}
.section-title.text-center {
  display: flex;
  align-items: center;
  align-content: center;
}
@media screen and (max-width: 1000px) {
  .section-title {
    margin-left: 12%;
    width: 35%;
  }
}
@media screen and (max-width: 700px) {
  .section-title {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .section-title {
    width: 70%;
  }
}
@media screen and (max-width: 356px) {
  .section-title {
    width: 73%;
  }
  .section-title h3 {
    font-size: 1.675rem;
    /* margin: 0 !important; */
    /* padding: 0 !important; */
    padding-top: 10px !important;
  }
}

/* title */
.text-section-title {
  position: absolute;
  height: 1.5rem;
  width: 100%;
  z-index: -1;
}
.first-name {
  width: 100%;
  height: 10%;
  background-color: #cf74ad;
}
.second-name {
  width: 100%;
  height: 10%;
  background-color: transparent;
}
.third-name {
  width: 100%;
  height: 10%;
  background-color: #cf74ad;
}
.forth-name {
  width: 100%;
  height: 10%;
  background-color: transparent;
}
.fifth-name {
  width: 100%;
  height: 10%;
  background-color: #cf74ad;
}
.sixth-name {
  width: 100%;
  height: 10%;
  background-color: transparent;
}
.seventh-name {
  width: 130%;
  height: 10%;
  background-color: #cf74ad;
}
.eight-name {
  width: 100%;
  height: 10%;
  background-color: transparent;
}
.ninth-name {
  width: 130%;
  height: 10%;
  background-color: #cf74ad;
}
.tenth-name {
  width: 100%;
  height: 10%;
  background-color: transparent;
}
.eleventh-name {
  width: 130%;
  height: 10%;
  background-color: #cf74ad;
}
@media screen and (max-width: 600px) {
  .seventh-name {
    width: 119%;
    height: 10%;
    background-color: #cf74ad;
  }
  .ninth-name {
    width: 119%;
    height: 10%;
    background-color: #cf74ad;
  }
  .eleventh-name {
    width: 119%;
    height: 10%;
    background-color: #cf74ad;
  }
}
section.denari {
  padding-bottom: 5rem;
}
